<template>
  <div class="brands flex justify-center mt-32">
    <div
      class="
        brand-boxs
        w-10/12
        flex flex-col
        items-center
        gap-y-10
        xs:grid xs:grid-cols-2 xs:gap-8
        lg:grid-cols-3
        xl:grid-cols-4
      "
    >
      <div
        class="brand-box flex justify-center"
        v-for="(brand, index) in brands"
        :key="index"
      >
        <img :src="brand" alt="brand" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      brands: [
        require("../assets/svgs/airbnb.svg"),
        require("../assets/svgs/binance.svg"),
        require("../assets/svgs/coinbase.svg"),
        require("../assets/svgs/dropbox.svg"),
      ],
    };
  },
};
</script>

<style>
</style>