<template>
  <div class="call-action flex justify-center mt-32">
    <div
      class="
        call-box
        w-10/12
        flex
        justify-center
        rounded-3xl
        py-7
        xl:py-12
        px-3
      "
    >
      <div class="call-box__content w-11/12 md:flex md:justify-between">
        <div class="call-box__content-txt">
          <h2 class="text-4xl font-bold text-white">
            Let’s try our service now!
          </h2>
          <p class="text-gray-400 mt-2 lg:w-8/12 xl:w-7/12">
            Everything you need to accept card payments and grow your business
            anywhere on the planet.
          </p>
        </div>
        <div
          class="
            call-box__content-btn
            md:w-3/12 md:flex md:justify-end md:items-center
          "
        >
          <button class="text-black mt-7 md:m-0 px-5 py-3 rounded-lg">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.call-box {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
}
button {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
h2 {
  line-height: 52px;
}
</style>