<template>
  <div class="counter flex justify-center mt-24">
    <div
      class="
        counter-boxs
        w-10/12
        flex flex-col
        gap-y-11
        xs:grid xs:grid-cols-2
        md:grid-cols-5
        xs:gap-x-6
      "
    >
      <div
        class="
          counter-box
          w-full
          md:w-4/12
          flex flex-col
          gap-y-4
          items-center
          justify-center
          gap-x-6
        "
      >
        <h3 class="text-4xl font-bold text-white">3800+</h3>
        <span class="text-lg text-center font-bold">USER ACTIVE</span>
      </div>
      <img class="hidden md:block" src="../assets/svgs/seperator.svg" alt="" />
      <div
        class="
          counter-box
          w-full
          md:w-4/12
          flex flex-col
          gap-y-4
          items-center
          justify-center
          gap-x-6
        "
      >
        <h3 class="text-4xl font-bold text-white">230+</h3>
        <span class="text-lg text-center font-bold">TRUSTED BY COMPANY</span>
      </div>
      <img class="hidden md:block" src="../assets/svgs/seperator.svg" alt="" />
      <div
        class="
          counter-box
          w-full
          md:w-4/12
          flex flex-col
          gap-y-4
          items-center
          justify-center
          gap-x-6
        "
      >
        <h3 class="text-4xl font-bold text-white">$230M+</h3>
        <span class="text-lg text-center font-bold">TRANSACTION</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.counter {
  // margin-top: 80px;
  .counter-box {
    span {
      background: radial-gradient(
          64.18% 64.18% at 71.16% 35.69%,
          #def9fa 0.89%,
          #bef3f5 17.23%,
          #9dedf0 42.04%,
          #7de7eb 55.12%,
          #5ce1e6 71.54%,
          #33bbcf 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}
</style>