<template>
  <div class="do-business flex justify-center mt-32">
    <div
      class="
        business-box
        w-10/12
        flex flex-col
        gap-y-8
        md:gap-y-12
        justify-between
        gap-x-12
        lg:flex-row
      "
    >
      <div class="business-box__left w-12/12 sm:w-8/12 lg:w-5/12">
        <h2 class="text-white font-bold text-4xl">
          You do the business, we’ll handle the money.
        </h2>
        <p class="text-gray-400 mt-6">
          With the right credit card, you can improve your financial life by
          building credit, earning rewards and saving money. But with hundreds
          of credit cards on the market.
        </p>
        <button class="text-black mt-7 px-5 py-3 rounded-lg">Get Started</button>
      </div>
      <div class="business-box__right w-12/12 lg:w-6/12 xl:w-5/12">
        <div
          class="
            business-box__items
            flex flex-col
            md:flex-row md:flex-wrap
            items-center
            gap-y-5
            lg:flex-col
            lg:w-12/12
          "
        >
          <div
            v-for="(item, index) in items"
            :key="index"
            class="
              business-box__item
              flex flex-col
              gap-y-4
              items-center
              p-5
              rounded-3xl
              cursor-pointer
              gap-x-5
              w-10/12
              xs:w-8/12
              md:w-6/12
              lg:w-full
              lg:flex-row
            "
            @click="choosedItem = index + 1"
            :style="
              choosedItem === index + 1
                ? 'background: linear-gradient(153.47deg,rgba(255, 255, 255, 0.571) -341.94%,#14101d 95.11%);'
                : ''
            "
          >
            <div class="business-box__item-icon lg:w-2/12 xl:w-2/12">
              <img :src="item.src" alt="" />
            </div>
            <div class="business-box__item-content">
              <h4 class="text-center lg:text-start text-white mb-2">{{ item.title }}</h4>
              <p class="text-center lg:text-start text-gray-400">{{ item.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      choosedItem: 1,
      items: [
        {
          src: require("../assets/svgs/star.svg"),
          title: "Rewards",
          text: "The best credit cards offer some tantalizing combinations of promotions and prizes",
        },
        {
          src: require("../assets/svgs/secure.svg"),
          title: "100% Secured",
          text: "We take proactive steps make sure your information and transactions are secure.",
        },
        {
          src: require("../assets/svgs/transfer.svg"),
          title: "Balance Transfer",
          text: "A balance transfer credit card can save you a lot of money in interest charges.",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.do-business {
  // margin-top: 250px;
}
.business-box {
  &__left {
    h2 {
      line-height: 54px;
    }
    button {
      background: linear-gradient(
        157.81deg,
        #def9fa -43.27%,
        #bef3f5 -21.24%,
        #9dedf0 12.19%,
        #7de7eb 29.82%,
        #5ce1e6 51.94%,
        #33bbcf 90.29%
      );
    }
  }
  &__item {
  }
}
</style>