<template>
  <div class="find-card flex justify-center mt-32">
    <div
      class="
        find-box
        flex flex-col
        gap-y-6
        w-10/12
        md:flex-row md:gap-x-10
        lg:justify-between
        xl:justify-between xl:gap-x-12
      "
    >
      <div
        class="
          find-box__left find-box__right
          sm:w-10/12
          md:flex md:flex-col md:justify-center
          lg:w-7/12
          xl:w-4/12
        "
      >
        <div class="find-box__content">
          <h2 class="text-white font-bold text-4xl">
            Find a better card deal in few easy steps.
          </h2>
          <p class="text-zinc-400 text-justify mt-5">
            Arcu tortor, purus in mattis at sed integer faucibus. Aliquet quis
            aliquet eget mauris tortor.ç Aliquet ultrices ac, ametau.
          </p>
          <button class="text-black mt-7 px-5 py-3 rounded-lg">Get Started</button>
        </div>
      </div>
      <div class="sm:w-9/12 xl:w-6/12">
        <img class="w-full" src="../assets/svgs/better-card.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
h2 {
  line-height: 54px;
}
button {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
</style>