<template>
  <div class="footer flex justify-center mt-32 py-7">
    <div class="footer-box w-10/12 flex flex-col gap-y-6">
      <div
        class="
          footer-box__top
          flex flex-col
          gap-y-8
          xs:gap-y-10
          sm:flex-row sm:flex-wrap
        "
      >
        <div class="footer-box__col1 xs:w-10/12 sm:w-6/12 lg:w-3/12">
          <img
            class="w-9/12 xs:w-8/12 sm:w-6/12 lg:w-9/12"
            src="../assets/svgs/logo1.svg"
            alt=""
          />
          <p class="text-gray-400 mt-4 md:w-10/12">
            A new way to make the payments easy, reliable and secure.
          </p>
        </div>
        <div class="footer-box__col2 sm:w-6/12 lg:w-3/12">
          <h4 class="text-white text-lg mb-3">Usefull Links</h4>
          <ul class="text-gray-400 flex flex-col gap-y-2">
            <li><a href="#">Content</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Terms & Services</a></li>
          </ul>
        </div>
        <div class="footer-box__col3 sm:w-6/12 lg:w-3/12">
          <h4 class="text-white text-lg mb-3">Community</h4>
          <ul class="text-gray-400 flex flex-col gap-y-2">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Suggestions</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Newsletters</a></li>
          </ul>
        </div>
        <div class="footer-box__col4 sm:w-6/12 lg:w-3/12">
          <h4 class="text-white text-lg mb-3">Partner</h4>
          <ul class="text-gray-400 flex flex-col gap-y-2">
            <li><a href="#">Our Partner</a></li>
            <li><a href="#">Become a Partner</a></li>
          </ul>
        </div>
      </div>
      <hr class="border-gray-500" />
      <div
        class="
          footer-box__bottom
          flex flex-col
          gap-y-5
          sm:flex-row sm:justify-between sm:items-center
        "
      >
        <div class="footer-box__bottom-left">
          <img src="../assets/svgs/copy-right.svg" alt="" />
          <p class="text-gray-400 mt-3">2021 HooBank. All Rights Reserved.</p>
        </div>
        <div class="footer-box__bottom-right">
          <div class="footer-box__bottom-socials flex gap-x-5">
            <a href="#" v-for="(icon, index) in icons" :key="index"
              ><img :src="icon" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      icons: [
        require("../assets/svgs/instagram.svg"),
        require("../assets/svgs/facebook.svg"),
        require("../assets/svgs/twiter.svg"),
        require("../assets/svgs/linkedin.svg"),
      ],
    };
  },
};
</script>

<style scoped lang="scss">
a {
  transition: ease-in-out 0.4s;
  &:hover {
    color: white;
  }
}
</style>