<template>
  <header class="header flex justify-center py-6">
    <div class="header-box w-10/12 flex justify-between items-center">
      <div class="header-box__logo  xl:w-4/12">
        <a href="#"><img class="w-12/12 xl:w-5/12" src="../assets/svgs/logo.svg" alt="logo" /></a>
      </div>
      <div class="header-box__navbar w-6/12 flex flex-col items-end">
        <div class="header-box__navbar--mobile sm:hidden">
          <div class="header-box__navbar--mobile-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#FFFFFFB2"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </div>
          <div class="header-box__navbar--mobile-box rounded-xl">
            <nav>
              <ul class="text-gray-400">
                <li><a class="active:bg-gray-700" href="#">Home</a></li>
                <li><a class="active:bg-gray-700" href="#">About US</a></li>
                <li><a class="active:bg-gray-700" href="#">Features</a></li>
                <li><a class="active:bg-gray-700" href="#">Solution</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="header-box__navbar--large hidden sm:block text-gray-400">
          <nav>
            <ul class="flex gap-x-7">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Solution</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
a {
  transition: ease-in-out 0.4s;
  &:hover {
    color: white;
  }
}
header li {
  z-index: 20;
}
.header-box {
  &__navbar--mobile {
    position: relative;
  }
  &__navbar--mobile-icon:hover + &__navbar--mobile-box {
    display: block;
  }
  &__navbar--mobile-box {
    padding: 8px 0px;
    display: none;
    position: absolute;
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
    backdrop-filter: blur(10px);
    left: -112px;
    top: 41px;
    z-index: 30;
    width: 134px;
    a {
      padding: 10px 20px;
      display: block;
    }
  }
}
</style>