<template>
  <div class="landing-page flex justify-center">
    <div class="landing-box flex w-10/12">
      <div
        class="
          landing-box__left
          flex flex-col
          justify-center
          w-10/12
          mx-auto
          xs:m-0 xs:w-9/12
          sm:w-6/12
          lg:w-5/12
          xl:w-6/12
        "
      >
        <div
          class="
            landing-box__discount
            w-64
            px-2
            py-1
            w-12/12
            flex
            items-center
            rounded-full
          "
        >
          <div class="landing-box__discount-icon">
            <img src="../assets/svgs/discount-mark.svg" alt="discount" />
          </div>
          <div class="landing-box__discount-text">
            <span class="text-white">20%</span
            ><span class="text-gray-400"> DISCOUNT FOR</span
            ><span class="text-white"> 1 MONTH</span
            ><span class="text-gray-400"> ACCOUNT</span>
          </div>
        </div>
        <div class="landing-box__startBtn xs:hidden md:block rounded-full">
          <button class="cursor-pointer hidden sm:block">
            <div class="landing-box__startBtn-top flex">
              <span class="text-cyan-300">Get</span>
              <img src="../assets/svgs/arrow.svg" alt="" />
            </div>
            <div class="landing-box__startBtn-bottom">
              <span class="text-cyan-300">Started</span>
            </div>
          </button>
        </div>
        <div class="landing-box__head mt-5 flex flex-col gap-y-3">
          <p class="text-white text-4xl md:text-4xl xl:text-6xl font-bold">
            The Next
          </p>
          <p class="text-cyan-300 text-4xl md:text-4xl xl:text-6xl font-bold">
            Generation
          </p>
          <p
            class="
              text-white text-4xl
              md:text-4xl
              xl:text-6xl
              font-bold
              leading-relaxed
            "
          >
            Payment Method.
          </p>
        </div>
        <div class="landing-box__para mt-5">
          <p class="text-gray-300 text-justify text-sm">
            Our team of experts uses a methodology to identify the credit cards
            most likely to fit your needs. We examine annual percentage rates,
            annual fees.
          </p>
        </div>
      </div>
      <div class="landing-box__right hidden sm:block sm:w-10/12">
        <img src="../assets/svgs/landing-img.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.landing-page {
  height: calc(100vh - 64px);
  overflow: hidden;
  margin-top: -20px;
}
.landing-box {
  overflow-x: hidden;
  &__discount {
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  }
  &__discount-text {
    font-size: 10px;
  }
  &__right {
    position: absolute;
    right: -74px;
    top: -78px;
    z-index: 0;
  }
  &__left {
    z-index: 20;
  }
  &__startBtn {
    position: relative;
    button {
      position: absolute;
      height: 108px;
      padding: 25px;
      border: 2px solid #67e8f9;
      border-radius: 50%;
      right: 70px;
    }
  }
}
@media screen and (min-width: 884px) {
  .landing-box {
    &__right {
      right: 0px;
    }
  }
}
@media screen and (min-width: 1413px) {
  .landing-box {
    &__right {
      img {
        position: absolute;
        right: 0px;
      }
    }
  }
}
@media screen and (max-width: 885px) {
  .landing-box {
    &__right {
      right: 0px;
    }
  }
}
@media screen and (max-width: 1280px) {
  .landing-box {
    &__startBtn {
      button {
        right: 0px;
      }
    }
  }
}
</style>