<template>
  <div class="present-app flex justify-center mt-28">
    <div
      class="
        present-box
        flex flex-col
        gap-y-6
        w-10/12
        md:flex-row
        lg:justify-between
        xl:justify-start xl:gap-x-10
      "
    >
      
      <div class="present-box__left xl:w-6/12">
        <img class="w-full" src="../assets/svgs/easy-img.svg" alt="" />
      </div>
      <div
        class="
          present-box__right
          sm:w-10/12
          md:flex md:flex-col md:justify-center
          lg:w-7/12
          xl:w-5/12
        "
      >
        <div class="present-box__content">
          <h2 class="text-white font-bold text-4xl">
            Easily control your billing & invoicing.
          </h2>
          <p class="text-zinc-400 text-justify mt-5">
            Elit enim sed massa etiam. Mauris eu adipiscing ultrices ametodio
            aenean neque. Fusce ipsum orci rhoncus aliporttitor integer platea
            placerat.
          </p>
          <div class="present-box__buttons mt-6 flex gap-x-4">
            <button><img src="../assets/svgs/appstore.svg" alt="" /></button>
            <button><img src="../assets/svgs/google-play.svg" alt="" /></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.present-box {
    
  h2 {
    line-height: 45px;
  }
  
}
</style>