<template>
  <div class="testimonial flex justify-center mt-32">
    <div class="testimonial-box w-10/12">
      <div
        class="testimonial-box__top sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-5/12"
      >
        <h2 class="text-white font-bold text-4xl">
          What people are saying about us
        </h2>
        <p class="text-zinc-400 text-justify mt-5">
          Everything you need to accept card payments and grow your business
          anywhere on the planet.
        </p>
      </div>
      <div class="testimonial-box__bottom mt-12 flex flex-col items-center">
        <div
          class="
            testimonial-box__items
            w-10/12
            flex flex-col
            gap-y-12
            xs:w-9/12
            sm:w-full sm:grid sm:grid-cols-2 sm:justify-between sm:gap-5
            md:gap-9
            lg:grid-cols-3 lg:gap-x-6
            xl:gap-x-12
          "
        >
          <div
            v-for="(testimonial, index) in testimonials"
            :key="index"
            class="
              testimonial-box__item
              p-4
              xs:p-8
              rounded-2xl
              flex flex-col
              justify-between
            "
          >
            <div class="">
              <div class="testimonial-box__para w-2/12">
                <img src="../assets/svgs/para.svg" alt="" />
              </div>
              <div class="testimonial-box__text mt-4 mb-5">
                <p class="text-gray-400">
                  {{ testimonial.text }}
                </p>
              </div>
            </div>
            <div class="testimonial-box__user flex gap-x-3 items-center">
              <div class="testimonial-box__user-img w-2/12">
                <img :src="testimonial.img" alt="" />
              </div>
              <div class="testimonial-box__user-details">
                <h4 class="text-white font-bold">{{ testimonial.name }}</h4>
                <h5 class="text-gray-400 text-sm">{{ testimonial.role }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      testimonials: [
        {
          text: "Money is only a tool. It will take you wherever you wish, but it will not replace you as the driver.",
          img: require("../assets/svgs/person1.svg"),
          name: "Herman Jensen",
          role: "Founder & Leader",
        },
        {
          text: "Money makes your life easier. If you're lucky to have it, you're lucky.'",
          img: require("../assets/svgs/person2.svg"),
          name: "Steve Mark",
          role: "Founder & Leader",
        },
        {
          text: "It is usually people in the money business, finance, and international trade that are really rich.",
          img: require("../assets/svgs/person3.svg"),
          name: "Kenn Gallagher",
          role: "Founder & Leader",
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
h2 {
  line-height: 54px;
}
.testimonial-box__item {
  transition: ease-in-out 0.4s;
}
.testimonial-box__item:hover {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(10px);
}
.testimonial-box {
  &__item {
    cursor: pointer;
  }
}
</style>