<template>
  <div id="app">
    <Header />
    <LandingPage />
    <Counter />
    <DoBusiness />
    <PresentApp />
    <FindCard />
    <Testimonial />
    <Brands/>
    <CallToAction/>
    <Footer/>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import LandingPage from "./components/LandingPage.vue";
import Counter from "./components/Counter.vue";
import DoBusiness from "./components/DoBusiness.vue";
import PresentApp from "./components/PresentApp.vue";
import FindCard from "./components/FindCard.vue";
import Testimonial from "./components/Testimonial.vue";
import Brands from "./components/Brands.vue";
import CallToAction from "./components/CallToAction.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    Header,
    LandingPage,
    Counter,
    DoBusiness,
    PresentApp,
    FindCard,
    Testimonial,
    Brands,
    CallToAction,
    Footer
  },
};
</script>

<style>
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/PoppinsLatin-Medium.ttf);
}
#app {
  z-index: -2;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #2c3e50; */
  /* margin-top: 60px; */
  background-color: #00040f;
  font-family: poppins;
  overflow-x: hidden;
}
.shadow {
  position: absolute;
}
</style>
